{%extends 'main.html'%}


{%block content%}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');



        .card.box1 {
            width: 350px;
            height: 500px;
            background-color: #3ecc6d;
            color: #baf0c3;
            border-radius: 0;
            font-weight:middle;
        }

        .card.box2 {
            width: 450px;
            height: 580px;
            background-color: #ffffff;
            border-radius: 0
        }

        .text {
            font-size: 13px
        }

        .box2 .btn.btn-primary.bar {
            width: 20px;
            background-color: transparent;
            border: none;
            color: #3ecc6d
        }

        .box2 .btn.btn-primary.bar:hover {
            color: #baf0c3
        }

        .box1 .btn.btn-primary {
            background-color: #57c97d;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd
        }

        .box1 .btn.btn-primary:hover {
            background-color: #f6f8f7;
            color: #57c97d
        }

        .btn.btn-success {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #ddd;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none
        }

        .nav.nav-tabs {
            border: none;
            border-bottom: 2px solid #ddd
        }

        .nav.nav-tabs .nav-item .nav-link {
            border: none;
            color: black;
            border-bottom: 2px solid transparent;
            font-size: 14px
        }

        .nav.nav-tabs .nav-item .nav-link:hover {
            border-bottom: 2px solid #3ecc6d;
            color: #05cf48
        }

        .nav.nav-tabs .nav-item .nav-link.active {
            border: none;
            border-bottom: 2px solid #3ecc6d
        }

        .form-control {
            border: none;
            border-bottom: 1px solid #ddd;
            box-shadow: none;
            height: 20px;
            font-weight: 600;
            font-size: 14px;
            padding: 15px 0px;
            letter-spacing: 1.5px;
            border-radius: 0
        }

        .inputWithIcon {
            position: relative
        }

        img {
            width: 50px;
            height: 20px;
            object-fit: cover
        }

        .inputWithIcon span {
            position: absolute;
            right: 0px;
            bottom: 9px;
            color: #57c97d;
            cursor: pointer;
            transition: 0.3s;
            font-size: 14px
        }

        .form-control:focus {
            box-shadow: none;
            border-bottom: 1px solid #ddd
        }

        .btn-outline-primary {
            color: black;
            background-color: #ddd;
            border: 1px solid #ddd
        }

        .btn-outline-primary:hover {
            background-color: #05cf48;
            border: 1px solid #ddd
        }

        .btn-check:active+.btn-outline-primary,
        .btn-check:checked+.btn-outline-primary,
        .btn-outline-primary.active,
        .btn-outline-primary.dropdown-toggle.show,
        .btn-outline-primary:active {
            color: #baf0c3;
            background-color: #3ecc6d;
            box-shadow: none;
            border: 1px solid #ddd
        }

        .btn-group>.btn-group:not(:last-child)>.btn,
        .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
        .btn-group>.btn-group:not(:first-child)>.btn,
        .btn-group>.btn:nth-child(n+3),
        .btn-group>:not(.btn-check)+.btn {
            border-radius: 50px;
            margin-right: 20px
        }

        form {
            font-size: 14px
        }

        form .btn.btn-primary {
            width: 100%;
            height: 45px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #3ecc6d;
            border: 1px solid #ddd
        }

        form .btn.btn-primary:hover {
            background-color: #05cf48
        }

        @media (max-width:750px) {
            .container {
                padding: 10px;
                width: 100%
            }

            .text-green {
                font-size: 14px
            }

            .card.box1,
            .card.box2 {
                width: 100%
            }
            .card.box1{display:none;}
            .container{margin-top:5.5%;}
            .nav.nav-tabs .nav-item .nav-link {
                font-size: 12px
            }
        }

  .checkbox-wrapper-16 *,
  .checkbox-wrapper-16 *:after,
  .checkbox-wrapper-16 *:before {
    box-sizing: border-box;
   flex: auto;
   display: inline-block;
  }

  .checkbox-wrapper-16 .checkbox-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
  }

  .checkbox-wrapper-16 .checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper-16 .checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .checkbox-wrapper-16 .checkbox-tile:hover {
    border-color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }

  .checkbox-wrapper-16 .checkbox-icon {
    transition: 0.375s ease;
    color: #494949;
  }
  .checkbox-wrapper-16 .checkbox-icon svg {
    width: 3rem;
    height: 3rem;
  }

  .checkbox-wrapper-16 .checkbox-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
  }

    </style>
    <div class="container bg-light d-md-flex align-items-center space-top" > 
        <div class="card box1 shadow-sm p-md-5 p-md-5 p-4"> 
            <div class="fw-bolder mb-4">
                <span class="fas fa-dollar-sign"></span>
                <span class="ps-1">KES 2500</span>
            </div> 
            <div class="d-flex flex-column"> 
                <div class="d-flex align-items-center justify-content-between text"> 
                    <span class="">Discount</span> 
                    <span class="fas fa-dollar-sign">
                        <span class="ps-1">200</span>
                    </span> 
                </div>
                <div class="d-flex align-items-center justify-content-between text mb-4"> 
                    <span>Total</span> 
                    <span class="fas fa-dollar-sign">
                        <span class="ps-1">2300</span>
                    </span> 
                </div> 
                <div class="border-bottom mb-4"></div> 
                <div class="d-flex flex-column mb-4"> 
                    <span class="far fa-file-alt text">
                        <span class="ps-2">Invoice ID:</span>
                    </span>
                        <span class="ps-3">SN8478042099</span> 
                    </div> 
                    <div class="d-flex flex-column mb-5"> 
                        <span class="far fa-calendar-alt text">
                            <span class="ps-2">Date today:</span>
                        </span> 
                        <span class="ps-3"><script>new Date()</script></span> 
                    </div> 
                    <div class="d-flex align-items-center justify-content-between text mt-5"> 
                        <div class="d-flex flex-column text"> 
                            <span>Customer Support:</span> <span>online chat 24/7</span>
                            </div> 
                            <div class="btn btn-primary rounded-circle">
                            <span class="fas fa-comment-alt"></span>
                        </div> 
                    </div> 
                </div> 
            </div> 
            <div class="card box2 shadow-sm"  style="overflow-y: scroll;height: 95%;"> 
                <div class="d-flex align-items-center justify-content-between p-md-5 p-4"> 
                    <span class="h5 fw-bold m-0">Payment methods</span> 
                    <div class="btn btn-primary bar">
                        <span class="fas fa-bars"></span>
                    </div> 
                </div> 
                <ul class="nav nav-tabs mb-3 px-md-4 px-2"> 
                    <li class="nav-item"> <a class="nav-link px-2 active" aria-current="page" href="#credit"  onclick="cardPayment()">Credit Card</a> </li> 
                    <li class="nav-item"> <a class="nav-link px-2" href="#mobile" onclick="mobilePayment();this.classList.add('active') ? !this.classList.contains('active') : this.classList.remove('active')">Mobile Payment</a> </li> 
                    <li class="nav-item ms-auto"> <a class="nav-link px-2" href="#">+ More</a> </li> 
                </ul> 
                    <div class="px-md-5 px-4 mb-4 d-flex align-items-center"> 
                
                    </div> 
                    <form action="" id="paymentForm"> 
                        <div class="row"> 
                            <div class="col-12"> 
                                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Credit Card</span> 
                                    <div class="inputWithIcon"> 
                                        <input class="form-control" type="text" value="5136 1845 5468 3894"> 
                                        <span class=""> 
                                            <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt="">
                                        </span> 
                                    </div> 
                                </div> 
                            </div> 
                            <div class="col-md-6"> 
                                <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4"> 
                                    <span>Expiration<span class="ps-1">Date</span>
                                </span> 
                                <div class="inputWithIcon">
                                        <input type="text" class="form-control" value="05/20"> 
                                        <span class="fas fa-calendar-alt"></span> 
                                    </div> 
                                </div> 
                            </div> 
                            <div class="col-md-6"> 
                                <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4"> 
                                    <span>Code CVV</span> 
                                    <div class="inputWithIcon"> 
                                        <input type="password" class="form-control" value="123"> 
                                        <span class="fas fa-lock"></span> 
                                    </div> 
                                </div> 
                            </div> 
                            <div class="col-12"> 
                                <div class="d-flex flex-column px-md-5 px-4 mb-4"> 
                                    <span>Name</span> 
                                    <div class="inputWithIcon"> 
                                        <input class="form-control text-uppercase" type="text" value="valdimir berezovkiy"> 
                                        <span class="far fa-user"></span> 
                                    </div> 
                                </div> 
                            </div> 
                            <div class="col-12 px-md-5 px-4 mt-3"> 
                                <button class="btn btn-primary w-100">Pay KES 2500.00</button> 
                            </div> 
                        </div> 
                    </form> 
                </div> 
    </div>
    <script>
        var main = null
        function mobilePayment(){
            const body = document.getElementById("paymentForm")
            if(main===null){main=body.innerHTML}
            body.innerHTML = `
            <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Carrier</span> 
                    <div class="row">
                        <div class="col-6" style="display:flex;flex-direction: row;gap: 9px;">
                            <div class="checkbox-wrapper-16">
                                <label class="checkbox-wrapper">
                                    <input type="radio" name="carrier" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                    <span class="checkbox-icon">
                                       
                                    </span>
                                    <span class="checkbox-label">Mpesa</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox-wrapper-16">
                                <label class="checkbox-wrapper">
                                    <input type="radio" name="carrier" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                    <span class="checkbox-icon">
                                       
                                    </span>
                                    <span class="checkbox-label">Airtel</span>
                                    </span>
                                </label>
                            </div>
                        </div>   
                 
                    </div>
                </div>
            </div>

            <div class="col-12"> 
                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Mobile Numbert</span> 
                    <div class="inputWithIcon"> 
                        <input class="form-control" type="text" value="254 71234 5678"> 
                        <span class=""> 
                            <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt="">
                        </span> 
                    </div> 
                </div> 
            </div> 
            
            <div class="col-12"> 
                <div class="d-flex flex-column px-md-5 px-4 mb-4"> 
                    <span>Name</span> 
                    <div class="inputWithIcon"> 
                        <input class="form-control text-uppercase" type="text" value="valdimir berezovkiy"> 
                        <span class="far fa-user"></span> 
                    </div> 
                </div> 
            </div> 
            <div class="col-12 px-md-5 px-4 mt-3"> 
                <button class="btn btn-primary w-100">Pay KES 2500.00</button> 
            </div> 
            `
        }

        function cardPayment(){
            const body = document.getElementById("paymentForm")
            if(main !== null){
                body.innerHTML = main
            }
            
        }
        </script>

{%endblock%}