{%extends 'main.html'%}

{%block content%}
<style>

.MuiCardHeader-root {
  display: flex;
  padding: 16px;
  align-items: center;
}
.MuiCardHeader-avatar {
  flex: 0 0 auto;
  margin-right: 16px;
}
.MuiCardHeader-action {
  flex: 0 0 auto;
  align-self: flex-start;
  margin-top: -8px;
  margin-right: -8px;
}
.MuiCardHeader-content {
  flex: 1 1 auto;
}


</style>
<style data-jss="" data-meta="MuiCardContent">
    .MuiCardContent-root {
      padding: 16px;
    }
    .MuiCardContent-root:last-child {
      padding-bottom: 24px;
    }
</style>
<style data-jss="" data-meta="MuiTable">
    .MuiTable-root {
      width: 100%;
      display: table;
      border-spacing: 0;
      border-collapse: collapse;
    }
    .MuiTable-root caption {
      color: #546e7a;
      padding: 16px;
      font-size: 0.875rem;
      text-align: left;
      font-family: Barlow,sans-serif;
      font-weight: 400;
      line-height: 1.43;
      caption-side: bottom;
    }
    .MuiTable-stickyHeader {
      border-collapse: separate;
    }
</style>
<style data-jss="" data-meta="MuiTableRow">
    .MuiTableRow-root {
      color: inherit;
      display: table-row;
      outline: 0;
      vertical-align: middle;
    }
    .MuiTableRow-root.MuiTableRow-hover:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
    .MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover {
      background-color: rgba(41, 121, 255, 0.08);
    }
</style>
<style data-jss="" data-meta="MuiTableCell">
    .MuiTableCell-root {
      display: table-cell;
      padding: 16px;
      font-size: 0.875rem;
      text-align: left;
      font-family: Barlow,sans-serif;
      font-weight: 400;
      line-height: 1.43;
      border-bottom: 1px solid
        rgba(252, 252, 252, 1);
      vertical-align: inherit;
    }
    .MuiTableCell-head {
      color: #263238;
      font-weight: 500;
      line-height: 1.5rem;
    }
    .MuiTableCell-body {
      color: #263238;
    }
    .MuiTableCell-footer {
      color: #546e7a;
      font-size: 0.75rem;
      line-height: 1.3125rem;
    }
    .MuiTableCell-sizeSmall {
      padding: 6px 24px 6px 16px;
    }
    .MuiTableCell-sizeSmall:last-child {
      padding-right: 16px;
    }
    .MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox {
      width: 24px;
      padding: 0 12px 0 16px;
    }
    .MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox:last-child {
      padding-left: 12px;
      padding-right: 16px;
    }
    .MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox > * {
      padding: 0;
    }
    .MuiTableCell-paddingCheckbox {
      width: 48px;
      padding: 0 0 0 4px;
    }
    .MuiTableCell-paddingCheckbox:last-child {
      padding-left: 0;
      padding-right: 4px;
    }
    .MuiTableCell-paddingNone {
      padding: 0;
    }
    .MuiTableCell-paddingNone:last-child {
      padding: 0;
    }
    .MuiTableCell-alignLeft {
      text-align: left;
    }
    .MuiTableCell-alignCenter {
      text-align: center;
    }
    .MuiTableCell-alignRight {
      text-align: right;
      flex-direction: row-reverse;
    }
    .MuiTableCell-alignJustify {
      text-align: justify;
    }
    .MuiTableCell-stickyHeader {
      top: 0;
      left: 0;
      z-index: 2;
      position: sticky;
      background-color: #fff;
    }
    </style>
<style data-jss="" data-meta="MuiContainer">
    .MuiContainer-root {
      width: 100%;
      display: block;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      padding-left: 16px;
      padding-right: 16px;
    }
    @media (min-width:600px) {
      .MuiContainer-root {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
    .MuiContainer-disableGutters {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width:600px) {
      .MuiContainer-fixed {
        max-width: 600px;
      }
    }
    @media (min-width:960px) {
      .MuiContainer-fixed {
        max-width: 960px;
      }
    }
    @media (min-width:1280px) {
      .MuiContainer-fixed {
        max-width: 1280px;
      }
    }
    @media (min-width:1920px) {
      .MuiContainer-fixed {
        max-width: 1920px;
      }
    }
    @media (min-width:0px) {
      .MuiContainer-maxWidthXs {
        max-width: 444px;
      }
    }
    @media (min-width:600px) {
      .MuiContainer-maxWidthSm {
        max-width: 600px;
      }
    }
    @media (min-width:960px) {
      .MuiContainer-maxWidthMd {
        max-width: 960px;
      }
    }
    @media (min-width:1280px) {
      .MuiContainer-maxWidthLg {
        max-width: 1280px;
      }
    }
    @media (min-width:1920px) {
      .MuiContainer-maxWidthXl {
        max-width: 1920px;
      }
    }
    </style>
<style data-jss="" data-meta="MuiPaper">
    .MuiPaper-root {
      color: #263238;
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      background-color: #fff;
    }
    .MuiPaper-rounded {
      border-radius: 4px;
    }
    .MuiPaper-outlined {
      border: 1px solid #eeeeee;
    }
    .MuiPaper-elevation0 {
      box-shadow: none;
    }
    .MuiPaper-elevation1 {
      box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);
    }
    .MuiPaper-elevation2 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 2px 2px -2px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation3 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 3px 4px -2px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation4 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 3px 4px -2px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation5 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 4px 6px -2px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation6 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 4px 6px -2px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation7 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 4px 8px -2px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation8 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 5px 8px -2px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation9 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 6px 12px -4px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation10 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 7px 12px -4px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation11 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 6px 16px -4px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation12 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 7px 16px -4px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation13 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 8px 18px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation14 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 9px 18px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation15 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 10px 20px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation16 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 11px 20px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation17 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 12px 22px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation18 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 13px 22px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation19 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 14px 24px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation20 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 16px 28px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation21 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 18px 30px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation22 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 20px 32px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation23 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 22px 34px -8px rgba(0,0,0,0.25);
    }
    .MuiPaper-elevation24 {
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.31), 0 24px 36px -8px rgba(0,0,0,0.25);
    }
    .book-now{
      position: absolute;
      padding: 12px;
      right: 5%;
      top: 1%;
      width: 132px;
      cursor: pointer;
      border-radius: 11px;
      z-index: 99;
      background-color: none;
    }
    .MuiTableRow-root{
      margin-top: 12px;
      border-radius: 12px;
    }
    </style>

    <main>
        <div>
          <button class="book-now" onclick="location.href='book'">BOOK NOW</button>
            <div class="MuiGrid-root jss245 MuiGrid-container MuiGrid-spacing-xs-2">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-1 MuiGrid-grid-lg-1 MuiGrid-grid-xl-1"></div>
            
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-9 MuiGrid-grid-lg-9 MuiGrid-grid-xl-9">
                    <div class="MuiPaper-root MuiCard-root MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="MuiCardHeader-root jss246">
                            <div class="MuiCardHeader-content">
                                <span class="MuiTypography-root MuiCardHeader-title MuiTypography-h5 MuiTypography-displayBlock">View Application Status</span>
                            </div>
                        </div>
                        <div class="MuiCardContent-root jss248">
                            <div class="MuiTableContainer-root">
                                <table class="MuiTable-root jss249" aria-label="simple table">
                                    <thead class="MuiTableHead-root">
                                        <tr class="MuiTableRow-root MuiTableRow-head">
                                            <th class="MuiTableCell-root MuiTableCell-head jss250" scope="col">Reference Number</th>
                                            <th class="MuiTableCell-root MuiTableCell-head jss250 MuiTableCell-alignLeft" scope="col">Information</th>
                                            <th class="MuiTableCell-root MuiTableCell-head jss250 MuiTableCell-alignCenter" scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="MuiTableBody-root">
                                      {%for order in orders["bookings"]%}
                                        <tr class="MuiTableRow-root">
                                            <th class="MuiTableCell-root MuiTableCell-body" role="cell" scope="row">248345</th>
                                            <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignLeft">
                                                <div>
                                                    <span class="jss251">Product: </span>
                                                    <span class="jss252">{{order["service"]["name"]}}</span>
                                                </div>
                                                <div>
                                                    <span class="jss251">Category: </span>
                                                    {%for category in order["categories"]%}
                                                      <span class="jss252">{{category["name"] }} | <b>{{category["price"]}}</b></span>
                                                    {%endfor%}
                                                </div> 
                                                <div>
                                                    <span class="jss251">Applicant: </span>
                                                    <span class="jss252">{{orders["user"]["name"]}}</span>
                                                </div>
                                                <div>
                                                    <span class="jss251">Submitted On: </span>
                                                    <span class="jss252">{{order["book"]["date"]}}</span>
                                                </div>
                                                <div>
                                                    <span class="jss251">Feedback: </span>
                                                    {%if order["book"]["complete"] == False%}
                                                    <span class="jss252">Pending Apprroval</span>
                                                    {%else%}
                                                    <span class="jss252">Approved for Service</span>
                                                    {%endif%}
                                                </div>
                                                <div>
                                                    <span class="jss251">Invoice Details: </span>
                                                    <span class="jss252">Amount: {{order["invoice"]["amount"]}},  Msisdn: {{order["invoice"]["_id"]}} </span>
                                                </div>
                                            </td>
                                            <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignCenter">
                                                <div class="MuiStack-root css-j7qwjs">
                                                  <table>
                                                  <tbody>
                                                    {%if order["invoice"]["complete"] == False%}
                                                    <td><span class="jss253">Pending</span></td>
                                                    <td><button onclick="location.href='/checkout?book=id'" class="MuiButtonBase-root MuiButton-root jss270 MuiButton-contained jss247 MuiButton-containedPrimary" tabindex="0" type="submit">
                                                      <span class="MuiButton-label">Pay now</span>
                                                      <span class="MuiTouchRipple-root"></span>
                                                  </button></td>
                                                    {%endif%}
                                                    <td><button class="MuiButtonBase-root MuiButton-root jss270 MuiButton-contained jss247 MuiButton-containedPrimary" tabindex="0" type="submit">
                                                        <span class="MuiButton-label" data-target="#pickupModal" data-toggle="modal" onclick="getPickup()">Request Pickup</span>
                                                        <span class="MuiTouchRipple-root"></span>
                                                    </button></td>
                                                    <td><button class="MuiButtonBase-root MuiButton-root jss270 MuiButton-contained jss247 MuiButton-containedPrimary" tabindex="0" type="submit">
                                                        <span class="MuiButton-label">Delete Booking</span>
                                                        <span class="MuiTouchRipple-root"></span>
                                                    </button></td>
                                                  </tbody>
                                                  </table >
                                                </div>
                                            </td>
                                        </tr>
                                      {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
{%endblock%}